body {
    font-family: Arial, sans-serif;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    color: #333 !important;
    padding-left: 15px;
}

.navbar-default .navbar-toggle {
    border-color: #333;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #333;
    font-size: 1.2em;
    display: block;
    padding: 10px 0;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#main-content {
    background-color: #A52A2A;
    padding: 20px;
    color: white;
    margin-top: 20px;
    min-height: 1000px;
}

#main-content h2 {
    color: white;
}

h1 {
    text-align: center;
}

.tall-section {
    min-height: 1000px;
}

#collapsable-nav {
    transition: all 0.3s ease-in-out;
}

/* Adjustments for mobile view */
@media (max-width: 767px) {
    .navbar-brand {
        font-size: 1.5em;
    }

    #collapsable-nav {
        background-color: #e0e0e0;
        border-top: 1px solid #e7e7e7;
    }

    #nav-list {
        margin-bottom: 0;
    }

    #nav-list a {
        border-bottom: 1px solid #e7e7e7;
        text-align: center;
    }

    #nav-list a:last-child {
        border-bottom: none;
    }

    .full-width {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}